@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* vh e altura total 
vw largura total */
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: top center;
    background-attachment: fixed;

}

main {
    position: relative;
    height: 100vh;      
}

/* ---------------------------------------------------- */
section#telefone{

    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
}


iframe#tela{
    position: relative;
    top: 80px;
    left:22px;
    width: 267px;
    height: 471px;
    
}

@media (max-width: 350px) {
    section#telefone {
        width: 90vw;
        height: calc(95vw * 2.016); /* Mantém a proporção do iPhone */
        min-width: 100px;
        min-height: 203px;
    }

    iframe#tela {
        width: 76vw;
        top: 23vw;
        /* left: 6vw; */
    }
}

/* ---------------------------------------------------- */
section#rd img{
    /* a margin separa quando usa proporçao maior tipo 10px pra frente
    se colocar 0px ou -1px ele cola na borda */
    margin: 10px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.427);
    box-sizing: border-box;
}

section#rd{
    text-align: right;
}

section#rd img:hover{
    border: 1px solid rgba(255, 255, 255, 0.62);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.464);
    transition: .2s ;
}


/* botoes */
@media (max-width: 350px) {
    section#rd img {
        width: 36px;
        margin: 5px;
        
    }
    
}

@media (max-width: 350px) {
    section#rd {
        text-align: center;
        display: flex;
        margin-left: 32%;
        
    }
    
}
/* ---------------------------------------------------- */





















